* {
  box-sizing: border-box;
  padding: 0;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande",
    "Lucida Sans", Arial, sans-serif;
}

body {
  background: linear-gradient(
    90deg,
    rgb(71, 66, 109) 0%,
    rgb(95, 103, 173) 100%
  );
}

.app__todo {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  min-height: 600px;
  background: #081966;
  text-align: center;
  border-radius: 10px;
  /* margin: 10px 100px 0 100px ; */
}

.todo__list-title {
  margin: 32px 0;
  color: #fff;
  font-size: 24px;
}
.app__todo-title {
  margin: 10px 0;
  color: #fff;
  font-size: 24px;
}
.todo__form-title {
  margin: 30px 0;
  color: #fff;
  font-size: 20px;
}

.complete {
  text-decoration: line-through;
  opacity: 0.4;
}

.todo__form {
  margin-bottom: 15px;
}

.todo__input {
    padding: 14px 32px 14px 16px;
    border-radius: 4px 0 0 4px;
    outline: none;
    background: transparent;
    color: #fff;
    border: 1px solid #fff;
}

.todo__input::placeholder {
    color: #e2e2e2;
    font-size: 16px;
    text-transform: capitalize;
}

.todo__button {
    padding: 16px;
    border: none;
    border-radius: 0 4px 4px 0;
    cursor: pointer;
    outline: none;
    background: linear-gradient(
        90deg,
        rgba(93, 12, 255, 1) 0%,
        rgba(155, 0, 250, 1) 100%
    );
    color: #fff;
    text-transform: capitalize;
}

.todo__container {
    display: flex;
    flex-direction: row;
    position: relative;
}

.todo__row {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 4px auto;
    color: #fff;
    background: linear-gradient(90deg,
            rgba(255, 118, 20, 1) 0%,
            rgba(255, 84, 17, 1) 100%);

    padding: 16px;
    border-radius: 5px;
    width: 90%;
}

.todo__row:nth-child(4n + 1) {
    background: linear-gradient(90deg,
    rgba(93, 12, 255, 1) 0%,
    rgba(155, 0, 250, 1) 100%);
}

.todo__row:nth-child(4n + 2) {
    background: linear-gradient(90deg,
    rgba(255, 12, 241, 1) 0%,
    rgba(250, 0, 135, 1) 100%);
}

.todo__row:nth-child(4n + 3) {
    background: linear-gradient(90deg,
    rgba(20, 159, 255, 1) 0%,
    rgba(17, 122, 255, 1) 100%);
}

.icons {
    display: flex;
    align-items: center;
    font-size: 24px;
    cursor: pointer;
}

.delete__icon {
    margin-right: 5px;
    color: #fff;
}

.edit__icon {
    color: #fff;
}

@media only screen and (max-width: 667px){
  .app__todo{
    margin: none;
  }
  
 
}